RT
lib
.DS*
.nfs*
._*
*.o
*.a
*.dSYM
# Prerequisites
*.d
*.swp
docs/xml
docs/html
*__pycache__
*.pyc
*.moc.cpp
render.png
*~

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
